
/****************** 公用部分 *****************/
body{
	background: #D7FDFA;	
}
@font-face {
  font-family: 'chicken_butt';	/* 自定义字体名 */
  src: url('../font/chicken_butt-webfont.eot');
  src: url('../font/chicken_butt-webfont.eot?#iefix') format('embedded-opentype'),
	   url('../font/chicken_butt-webfont.woff') format('woff'),
	   url('../font/chicken_butt-webfont.ttf') format('truetype'),
	   url('../font/chicken_butt-webfont.svg#SingleMaltaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'universal';	/* 自定义字体名 */
  src: url('../font/needlework_good-webfont.eot');
  src: url('../font/needlework_good-webfont.eot?#iefix') format('embedded-opentype'),
	   url('../font/needlework_good-webfont.woff') format('woff'),
	   url('../font/needlework_good-webfont.ttf') format('truetype'),
	   url('../font/needlework_good-webfont.svg#SingleMaltaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'snowtopcaps';	/* 自定义字体名 */
  src: url('../font/snowtopcaps-webfont.eot');
  src: url('../font/snowtopcaps-webfont.eot?#iefix') format('embedded-opentype'),
	   url('../font/snowtopcaps-webfont.woff') format('woff'),
	   url('../font/snowtopcaps-webfont.ttf') format('truetype'),
	   url('../font/snowtopcaps-webfont.svg#SingleMaltaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
input[type="submit"]{
	border: none;
	background: none;
	font-size: 23px;
}
.liStyle li{
	cursor: pointer;
    background-image: -moz-linear-gradient(center bottom, #91F26B 0%, #53BC61 50%, #53BC61 51%, #91F26B 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #91F26B), color-stop(0.5, #53BC61), color-stop(0.51, #53BC61), color-stop(1, #91F26B));	
	text-indent: 0px;
	text-align: center;	
}
.liStyle li:hover,.liStyle li:active{
/*li和hover、active和:之间不能有空格，不然效果有问题或者不显示 */
	background: #66DE49;
	display: block;
}

/***************** index页面 ***********************/
.mainAnimate ul {
	height: 100px;
}

.mainAnimate .ball {
	float: left;
	width: 40px;
	height: 40px;
	margin: 0 14px;
	background: #97E9E8;
	text-align: center;
	border-radius: 20px;
}
.mainAnimate .ball span {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 40px;
}

.indexOutBox,.outBox{
	width: 700px;
	margin: 0 auto;
	padding-top: 50px;
}
.outBox{
	width: 950px;
}
.indexBigBox,.bigBox{
	background: #00BEFF;
	width: 700px;
	min-height: 500px;
	float:right;
	border-radius: 13px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
	overflow: auto;/* hidden也行，修正里面有float元素min-height不能自适应高度 */
}
.bigBox{
	width: 600px;
	margin-left: -21px;
}
.indexTitle{
	font-family: 'chicken_butt';
	font-size: 80px;
	color: #fff;
	margin: 40px 0 0 70px;
	float: left;
}
.menuBox{
	width: 430px;
	float: left;
	margin-bottom: 30px;
}
.menu{
	float: right;
	width: 170px;
}
.menu li{
	font-family: 'universal';
	font-size: 50px;
	width: 170px;
	height: 70px;
	float: left;
	line-height: 68px;
	margin-top: 30px;
	border-radius: 13px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.6);
}

.subMenu{
	float: left;
	display: none;
	margin-left: 70px;
}
.subMenu li{
	width: 100px;
	height: 50px;
	font-size: 18px;
	letter-spacing: 0px;
	word-spacing: 1px;
	line-height: 24px;
}
.helpBox,.rankBox,.bomb,.prompt,.submit{
	position: absolute;
	display: none;
}
.helpBox{
	width: 440px;
	height: 340px;
}
.helpCancel,.rankCancel,.bombCancel,.prompCancel,.submitCancel{
	width: 39px;
	float: right;
	margin-right: 15px;
	cursor: pointer;
}
.helpOutBox,.rankOutBox,.bombOutBox,.promptOutBox,.submitOutBox{
	width: 440px;
	height: 280px;
	border-radius: 8px 8px 8px 8px ;	
	background: #E7E7E7;
	margin-top: 20px;
	
}
.helpInBox,.rankInBox,.bombInBox,.promptInBox,.submitInBox{
	width: 400px;
	height: 240px;
	margin: 2px 0 0 20px;
	background: #fff;
	float: left;
	text-indent: 25px;
	font-size: 18px;
	line-height: 20px;
	word-spacing: 2px;
	letter-spacing: 1px;
}
.rankBox{
	width: 640px;
	height: 370px;
}
.rankOutBox{
	width: 640px;
	height: 350px;
}
.rankInBox{
	width: 600px;
	height: 310px;
}
.rankLeft,.rankRight{
	width: 296px;
	float: left;
}
.rankLeft{
	border-right: 2px dashed #E7E7E7;
}
.rankInBox li{
	line-height: 27px;
	text-indent: 0px;
}
.rankInBox li:first-child{
	color: #f00;
	font-size: 25px;
	text-align: center;
}
.rankNum{
	width:60px;
	display: block;
	text-align: right;
	float: left;
}
.nameT,.nameR{
	width: 100px;
	height: 27px;
	overflow: hidden;
	display: block;
	float: left;
}
.timeRecord,.roundRecord{
	width: 90px;
	height: 27px;
	overflow: hidden;	
	display: block;
	float: left;
	text-align: right;
}
.bottom{
	width: 100%;
	text-align: center;
	color: #2889C2;
	float: left;
	margin: 20px 0 30px 0;
}
.bottom a{
	color: #2889C2;
}
.bottom a:hover{
	color: #00BEFF;
}

/************* commonmode timemode页面 *******************/
.konan{
	float: right;
	margin-top: 130px;
}
.timeBox{
	width: 380px;
	height: 50px;
	background: #fff;
	float: left;
	margin: 10px 0 0 90px;
	border-radius: 6px;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}
.timeBox ul{
	margin: 10px 0 0 80px;
}
.timeBox li{
	float: left;
	margin-left: 10px;
	font-family: 'universal'; 
	font-size: 30px;
}
.listBox{
	float: left;
	margin:20px 0 0 70px;
}

.listBoxA,.listBoxB,.colonBox{
	height: 50px;
	float: left;
	margin-left: 20px;
	background: #fff;
	font-size: 35px;
	text-align: center;
	line-height: 50px;
	border-radius: 6px;
}
.listBoxA,.listBoxB{
	width: 60px;
	overflow: hidden;

}
.colonBox{
	width: 20px;
}
.listA  li,.listB li{
	height: 50px;
	background: #fff;
}
.time li{
	float: left;
}
.showNum{
	width: 100px;
	color: #00BEFF;
}
.guessArea{
	float: left;
	margin: 10px 0 0 150px;
}
.putNum{
	width: 130px;
	height: 50px;
	float: left;
	font-size: 40px;
	text-indent: 10px;
	border-radius: 10px;
	letter-spacing:	5px;
	border: 2px solid #B0ACB1;
	background: #fff;
}
.btnNum{
	width: 90px;
	height: 55px;
	float: left;
    background-image: -moz-linear-gradient(center bottom, #91F26B 0%, #53BC61 50%, #53BC61 51%, #91F26B 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #91F26B), color-stop(0.5, #53BC61), color-stop(0.51, #53BC61), color-stop(1, #91F26B));
	border: 0px;
	font-size: 24px;
	cursor: pointer;
	margin-left: 20px;
	border-radius: 10px;
}
.btnNum:hover ,.btnNum:active{
	background: #88E294;
}
.showArea{
	width: 480px;
	height: 400px;
	background: #fff;
	overflow: scroll;
	float: left;
	margin: 20px 0 50px 50px;
	float: left;
	font-size: 20px;
}
.bomb{
	width: 410px;
	height: 340px;
}
.bombOutBox{
	width: 410px;
	height: 320px;
}
.bombInBox{
	width: 370px;
	height: 270px;
}
.bombInBox h1,.submitInBox h1{
	font-size: 35px;
	line-height: 40px;
}
.bombInBox h2{
	font-size: 23px;
	line-height: 60px;
	letter-spacing: 1px;
}
.bombMenu{
	float: left;
	margin-left: 100px;
}
.bombMenu li{
	width: 180px;
	height: 40px;
	margin-top: 10px;
	border-radius: 8px;
	line-height: 35px;
}
.rightMenu{
	width: 130px;
	height: 250px;
	float: right;
	margin: 130px 0 0 10px;
	background: #00BEFF;
	border-radius: 8px;
}
.rightMenu ul{
	margin: 30px 0 0 20px;
}
.rightMenu li{
	width: 90px;
	height: 40px;
	margin-top: 10px;
	line-height: 35px;
	border-radius: 8px;
}
.promptInBox p{
	margin-top: 8px;
	width: 400px;
	float: left;
}
.promptInBox input[type = "text"]{
	width: 20px;
	text-indent: 5px;
}
.promptInBox ul{
	float: left;
	margin: 20px 0 10px 30px;
}
.promptInBox li{
	width: 80px;
	height: 40px;
	float: left;
	margin-left: 20px;
	border-radius: 5px;
	line-height: 35px;
}
.promptWrong{
	color: #f00;
}
.promptAnswer{
	display: none;
}
.submitInBox p{
	margin-top: 10px;
	float: left;
}
.submitInBox input[type = "text"]{
	width: 170px;
	height: 25px;
	font-size: 18px;
	text-indent: 3px;
}
.submitPromt{
	color: #f00;
 	display: none;
}